<!DOCTYPE html>
<head>
  <title>Women Safety Forum</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</head>
<body>
  
  <div class="ui container">
    <div class="ui items">
    <% for(let post of feed.posts){%>
<!--         <div class="label">
          <img src="/images/avatar/small/joe.jpg">
        </div> -->
        
        
        
        <div class="item">
          <a class="ui tiny image">
            <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
          </a>
          <div class="content">
            <a class="header"><%=post.username%></a>
            <div class="date">
              <small><%=post.timestamp%></small>
            </div>
            <div class="description">
              <p><%=post.body%></p>
            </div>
            <div class="extra">
              <i class="green like icon"></i>
              <%=post.likes%> Likes
            </div>
          </div>
         
        </div>
        
        
        
<!--         <div class="content">
          <div class="summary">
            <a><%=post.username%></a>
          <div class="date">
            <%=post.timestamp%>
          </div>
          </div>
          <div class="extra text">
            <%=post.body%>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> <%=post.likes%> Likes
               <div class="ui small feed">
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <a><%=post.username%></a>
                    <div class="date">
                      <%=post.timestamp%>
                    </div>
                    </div>
                    <div class="extra text">
                      <%=post.body%>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div> -->
        
    <% }%>
    </div>
  </div>

  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</body>
