<!DOCTYPE html>
<head>
  <title>Women Safety Forum</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</head>
<body>
  
  <div class="ui container">
    <div class="ui items">
    <% for(let post of feed.posts){%>        
      <div class="item">
        <a class="ui tiny image">
          <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
        </a>
        <div class="content">
          <a class="header"><%=post.username%></a>
          <div class="date">
            <small><%=post.timestamp%></small>
          </div>
          <div class="description">
            <p><%=post.body%></p>
          </div>
          <div class="extra">
            <i class="green like icon"></i>
            <%=post.likes%> Likes
            
            <div class="ui tiny green right floated button">
              Comment
            </div>
            <div style="display:block;margin-left:2em">
              <% for(let comment of post.comments){%>
                <div class="ui small feed">
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                        <a><%=comment.username%></a>
                      <div class="date">
                        <%=comment.timestamp%>
                      </div>
                      </div>
                      <div class="extra text">
                        <%=comment.body%>
                      </div>
                    </div>
                  </div>
                </div>
              <% }%>
            </div>
            
          </div>
        </div>

      </div>
        
        
        

               
      
        
    <% }%>
    </div>
  </div>

  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</body>
